
<app-navbar></app-navbar><div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h5>Employee Details</h5>
       <table class="table table-striped">
        <thead>
        <tr>
            <th>Emploee Code</th>
            <th>Employee Name</th>
            <th>Designation</th>
            <th>Email Id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>E121</td>
            <td>Abraham</td>
            <td>Engineer</td>
            <td>abr@gmail.com</td>
        </tr>
        <tr>
            <td>E128</td>
            <td>Alan</td>
            <td>Manager</td>
            <td>alan@gmail.com</td>
        </tr>
        <tr>
            <td>E132</td>
            <td>Ann</td>
            <td>Engineer</td>
            <td>aann@gmail.com</td>
        </tr>
        <tr>
            <td>E136</td>
            <td>Abhijith</td>
            <td>Developer</td>
            <td>abhi@gmail.com</td>
        </tr>
        <tr>
            <td>E142</td>
            <td>Arun</td>
            <td>Engineer</td>
            <td>arun@gmail.com</td>
        </tr>
    </tbody>
       </table>
        </div>
    </div>
</div>
